<%- include("templates/header") %>

<main>
    <h2>Pagina <%= titulo %></h2>
    <p><%= mensaje %></p>
    <section>
        <ul>
            <% productos.forEach(producto => { %>
                <li>
                    <strong><%= producto.nombre %></strong>: <%= producto.descripcion %>
                </li>   
            <% }) %>
        </ul>
    </section>
</main>

<%- include("templates/footer") %>