<%- include("templates/header") %>

<main>
    <h2>Pagina <%= titulo %></h2>
    <p><%= mensaje %></p>
    <ul>
        <% servicios.forEach(servicio => { %>
            <li>
                <strong><%= servicio.nombre %></strong>: <%= servicio.descripcion %>
            </li>   
        <% }) %>
    </ul>
</main>

<%- include("templates/footer") %>